<form action="/create" method="POST">
    제    목 <input type="text" name="title" placeholder="제목"><br/><br/>
    본    문 <textarea name="contents" placeholder="내용"></textarea> <br/>
    <input type="submit" value="등록하기">
</form>
