<form action="/users/create" method="POST">
    아이디 <input type="text" name = "id"> <br/>
    비밀번호 <input type="password" name = "password"><br/>
    비밀번호 확인<input type="password" name = "password_confirmation"><br/>
    <input type="submit" value="회원가입"><br/>
</form>